    <div class="container">
      <footer class="d-flex justify-content-between py-3 border-top">
        <span>&copy; 2024 Jackson Barker</span>
        <ul class="nav justify-content-end">
          <li class="ms-3"><a href="https://github.com/JacksonBarker"><img class="bi" width="24" height="24" src="/images/github-mark.svg" /></a></li>
          <li class="ms-3"><a href="https://www.linkedin.com/in/jackson-barker-270443232"><img class="bi" width="24" height="24" src="/images/linkedin.svg" /></a></li>
        </ul>
      </footer>
    </div>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>