    <div class="container">
      <footer class="d-flex justify-content-between py-3 border-top">
        <span><i class="fa-solid fa-copyright"></i> 2024 Jackson Barker</span>
        <ul class="nav justify-content-end">
          <li class="ms-3"><a href="https://github.com/JacksonBarker"><i class="fa-brands fa-github fa-lg"></i></a></li>
          <li class="ms-3"><a href="https://www.linkedin.com/in/jackson-barker-270443232"><i class="fa-brands fa-linkedin fa-lg"></i></a></li>
        </ul>
      </footer>
    </div>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>