      <div class="footer">
        <p>&#169; 2024 by Jackson Barker</p>
        <br />
        <p>
          Email the developer:
          <a href="mailto:jackson.barker@ontariotechu.net"
            >jackson.barker@ontariotechu.net</a
          >
        </p>
      </div>
    </div>
    <script src="/javascripts/bootstrap.bundle.min.js"></script>
  </body>
</html>