<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link
      href="/stylesheets/full.css"
      rel="stylesheet"
      type="text/css"
      media="only screen and
(min-width:960px)"
    />
    <link
      href="/stylesheets/tablet.css"
      rel="stylesheet"
      type="text/css"
      media="only screen and
(min-width:481px) and (max-width:960px)"
    />
    <link
      href="/stylesheets/phone.css"
      rel="stylesheet"
      type="text/css"
      media="only screen and
(max-width:480px)"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css" />
    <title><%= title %></title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/projects/">Projects</a>
        <a href="/contact/">Contact</a>
      </div>
