<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/stylesheets/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/@fortawesome/fontawesome-free/css/brands.min.css"
    />
    <title><%= title %></title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Jackson Barker's Portfolio</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-end"
          id="navbarSupportedContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/"
                ><i class="fa-solid fa-home"></i> Home</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about/"
                ><i class="fa-solid fa-circle-info"></i> About</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects/"
                ><i class="fa-solid fa-screwdriver-wrench"></i> Projects</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact/"
                ><i class="fa-solid fa-envelope"></i> Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
