<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link
      href="/stylesheets/full.css"
      rel="stylesheet"
      type="text/css"
      media="only screen and
(min-width:960px)"
    />
    <link
      href="/stylesheets/tablet.css"
      rel="stylesheet"
      type="text/css"
      media="only screen and
(min-width:481px) and (max-width:960px)"
    />
    <link
      href="/stylesheets/phone.css"
      rel="stylesheet"
      type="text/css"
      media="only screen and
(max-width:480px)"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>About Me</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/projects/">Projects</a>
        <a href="/contact/">Contact</a>
      </div>
      <article>
        <header>
          <h1>About Me</h1>
        </header>
        <section>
          <aside>
            <img src="/images/photo.jpg" alt="Portrait of Jackson Barker" />
          </aside>
          <p>
            My name is Jackson Barker. I am 2nd year Networking and Information
            Technology student at Ontario Tech University. I am an Associate
            Information Officer for the Networking and IT Security Students'
            Association.
          </p>
        </section>
        <section>
          <p class="clear">
            <br />
            Here is a short introduction to me and my website.
          </p>
          <video controls poster="/images/poster.jpg" preload>
            <source src="/images/video.mp4" type="video/mp4" />
            Your browser doesn't support the video tag.
          </video>
        </section>
      </article>
      <div class="footer">
        <p>&#169; 2024 by Jackson Barker</p>
        <br />
        <p>
          Email the developer:
          <a href="mailto:jackson.barker@ontariotechu.net"
            >jackson.barker@ontariotechu.net</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
