<%- include partials/header.ejs %>
      <article>
        <header>
          <h1>About Me</h1>
        </header>
        <section>
          <aside>
            <img src="/images/photo.jpg" alt="Portrait of Jackson Barker" />
          </aside>
          <p>
            My name is Jackson Barker. I am 2nd year Networking and Information
            Technology student at Ontario Tech University. I am an Associate
            Information Officer for the Networking and IT Security Students'
            Association.
          </p>
        </section>
        <section>
          <p class="clear">
            <br />
            Here is a short introduction to me and my website.
          </p>
          <video controls poster="/images/poster.jpg" preload>
            <source src="/images/video.mp4" type="video/mp4" />
            Your browser doesn't support the video tag.
          </video>
        </section>
      </article>
<%- include partials/footer.ejs %>
