<%- include partials/header.ejs %>
      <h2>Contact Me</h2>
      <form
        action="mailto:jackson.barker@ontariotechu.net"
        method="post"
        enctype="text/plain"
        name="form"
      >
        <p>
          <label for="name">Your name</label>
          <br class="phonly" />
          <input
            class="right"
            type="text"
            id="name"
            size="32"
            autocomplete="name"
          />
        </p>
        <p>
          <label for="email">Your email</label>
          <br class="phonly" />
          <input
            class="right"
            id="email"
            type="email"
            size="40"
            autocomplete="email"
          />
        </p>
        <p>
          <label for="phone">Your number</label>
          <br class="phonly" />
          <input
            class="right"
            type="tel"
            id="phone"
            size="32"
            autocomplete="tel"
          />
        </p>
        <p>
          <label for="comments">Comments</label><br />
          <textarea id="comments" rows="6"></textarea>
        </p>
        <p><input type="submit" value="Submit" /></p>
      </form>
<%- include partials/footer.ejs %>
