<%- include partials/header.ejs %>
<div class="container px-4 py-5">
  <h2 class="pb-2 border-bottom">Jackson Barker's Portfolio for INFR3120</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-4">
    <div>
      <h3>
        <a class="btn btn-primary btn-lg" href="/"
          ><i class="fa-solid fa-home"></i> Home</a
        >
      </h3>
      <p>A navigation page for other pages on the site.</p>
    </div>
    <div>
      <h3>
        <a class="btn btn-primary btn-lg" href="/about/"
          ><i class="fa-solid fa-circle-info"></i> About</a
        >
      </h3>
      <p>A photo and introduction to me, and a small video.</p>
    </div>
    <div>
      <h3>
        <a class="btn btn-primary btn-lg" href="/projects/"
          ><i class="fa-solid fa-screwdriver-wrench"></i> Projects</a
        >
      </h3>
      <p>Projects and assignments I have worked on.</p>
    </div>
    <div>
      <h3>
        <a class="btn btn-primary btn-lg" href="/contact/"
          ><i class="fa-solid fa-envelope"></i> Contact</a
        >
      </h3>
      <p>A form for site visitors to contact me.</p>
    </div>
  </div>
</div>
<%- include partials/footer.ejs %>
