<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link
      href="/stylesheets/full.css"
      rel="stylesheet"
      type="text/css"
      media="only screen and
(min-width:960px)"
    />
    <link
      href="/stylesheets/tablet.css"
      rel="stylesheet"
      type="text/css"
      media="only screen and
(min-width:481px) and (max-width:960px)"
    />
    <link
      href="/stylesheets/phone.css"
      rel="stylesheet"
      type="text/css"
      media="only screen and
(max-width:480px)"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <title>My Projects</title>
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/projects/">Projects</a>
        <a href="/contact/">Contact</a>
      </div>
      <article>
        <header>
          <h1>My Projects</h1>
        </header>
        <section>
          <aside>
            <a href="/"><img class="logo" src="/images/emoji_u1f310.svg" /></a>
          </aside>
          <h3><a href="/">INFR3120 Portfolio</a></h3>
          <p>
            This site is my portfolio for Assignment-1 in Web & Script
            Programming. Using HTML5 and CSS3
          </p>
        </section>
        <br />
        <section class="clear">
          <aside>
            <a href="https://github.com/JacksonBarker/Wordle/"
              ><img class="logo" src="/images/github-mark.svg"
            /></a>
          </aside>
          <h3>
            <a href="https://github.com/JacksonBarker/Wordle/">Wordle Clone</a>
          </h3>
          <p>
            Written in Java for my 11th grade computer science culminating
            assignment.
          </p>
        </section>
        <br />
        <section class="clear">
          <aside>
            <a href="https://github.com/JacksonBarker/GoodMorningCrusaders/"
              ><img class="logo" src="/images/github-mark.svg"
            /></a>
          </aside>
          <h3>
            <a href="https://github.com/JacksonBarker/GoodMorningCrusaders/"
              >Good Morning Crusaders</a
            >
          </h3>
          <p>
            A simple Python application that uses ffmpeg to concatinate videos
            to be played for my high school's morning announcements.
          </p>
        </section>
      </article>
      <div class="footer">
        <p>&#169; 2024 by Jackson Barker</p>
        <br />
        <p>
          Email the developer:
          <a href="mailto:jackson.barker@ontariotechu.net"
            >jackson.barker@ontariotechu.net</a
          >
        </p>
      </div>
    </div>
  </body>
</html>
