<%- include partials/header.ejs %>
      <article>
        <header>
          <h1>My Projects</h1>
        </header>
        <section>
          <aside>
            <a href="/"><img class="logo" src="/images/emoji_u1f310.svg" /></a>
          </aside>
          <h3><a href="/">INFR3120 Portfolio</a></h3>
          <p>
            This site is my portfolio for Assignment-1 in Web & Script
            Programming. Using HTML5 and CSS3
          </p>
        </section>
        <br />
        <section class="clear">
          <aside>
            <a href="https://github.com/JacksonBarker/Wordle/"
              ><img class="logo" src="/images/github-mark.svg"
            /></a>
          </aside>
          <h3>
            <a href="https://github.com/JacksonBarker/Wordle/">Wordle Clone</a>
          </h3>
          <p>
            Written in Java for my 11th grade computer science culminating
            assignment.
          </p>
        </section>
        <br />
        <section class="clear">
          <aside>
            <a href="https://github.com/JacksonBarker/GoodMorningCrusaders/"
              ><img class="logo" src="/images/github-mark.svg"
            /></a>
          </aside>
          <h3>
            <a href="https://github.com/JacksonBarker/GoodMorningCrusaders/"
              >Good Morning Crusaders</a
            >
          </h3>
          <p>
            A simple Python application that uses ffmpeg to concatinate videos
            to be played for my high school's morning announcements.
          </p>
        </section>
      </article>
<%- include partials/footer.ejs %>
